/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Gina's Styles for the body */

body {
	font-family: "Times New Roman", Times, serif;
	color: #800b00;
	background-color: #f8f8fc;
}

/* Gina's Styles for custom classes in the document. (There are more, try to find them out!) */

.ginasstar-shape {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: transparent;
  clip-path: polygon(
    50% 0%, 
    61% 35%, 
    98% 35%, 
    68% 57%, 
    79% 91%, 
    50% 70%, 
    21% 91%, 
    32% 57%, 
    2% 35%, 
    39% 35%
  );
  background-color: #800b00; /* color of the star */
}

.resume-header {
    background-color: #B6B6B6;
}

.resume-main {
	background-color: #f8f8fc;
}

.resume-aside {
	background-color: #C4C4C4;
}

/* Gina's Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #B90909;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Gina's Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
} h1 {
  color: white;
	text-align: center; }


